node_modules
*.log
.idea
.DS_STORE
*.iws
workspace.xml
tasks.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
.gitignore.swp
**/.idea/
./dbdump
client/webpack.config.js
*-deploy.js
*package-lock.json
*/dist
client/index.html
*.zip
query/*/webpack.config.js
query/*/lambda.js
query/*/es6.js
command/*/webpack.config.js
command/*/lambda.js
command/*/es6.js
kajkai.com
